

[submodule "challenges/solproof/intermediate/LS1-Module1/challenges/solproof/intermediate/LS1-Module1/project1-solana-temp/project1-solana"]
	path = challenges/solproof/intermediate/LS1-Module1/challenges/solproof/intermediate/LS1-Module1/project1-solana-temp/project1-solana
	url = https://github.com/solana-labs/example-helloworld.git
